Repository flow-build/diagram-builder, pull requests merged in 2021-06, with the labels that each got.

#1 minor: adding ci
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/1-bug_report.md
  .github/ISSUE_TEMPLATE/2-feature_request.md
  .github/ISSUE_TEMPLATE/3-failing_test.md
  .github/ISSUE_TEMPLATE/4-documentation.md
  .github/ISSUE_TEMPLATE/config.yaml
  .github/SECURITY.md
  .github/label-settings/labeler.yml
  .github/label-settings/name-pattern-labeler.yml
  .github/pull_request_template.md
  .github/workflows/auto-labeler-pr.yml
  .github/workflows/auto-merge-release-bump.yml
  .github/workflows/first-time-contrib.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-auto-pr.yml
  .github/workflows/stale-pr-issue.yml
Labels: feature, github-actions

#2 patch: fix ci identification to use banch main
  .github/CONTRIBUTING.md
  .github/pull_request_template.md
  .releaserc.json
Labels: feature

#3 fix expected result
  .eslintrc.json
  package-lock.json
  package.json
  src/xml-converter/tests/flow-node.test.js
  src/xml-converter/tests/xml-converter.test.js
  src/xml-converter/xml-converter.js
Labels: bug, configuration, dependencies, js, test
